rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userId} {
      allow get, write: if belongsTo(userId);         
      allow read, update, delete: if isLead();
    }

    match /events/{eventId} {
      allow read, update: if signedIn()
    	allow read, write: if isLead();
    }

    match /questions/{questionId} {
      allow read: if signedIn()
      allow read, write: if isLead();
    }

     match /answers/{answerId} {
      allow read, write: if signedIn() && belongsTo(resource.data.volunteerUid);
      allow read, write: if isLead();
    }

    match/events/{eventId}/signUps/{signUpId} {
      allow read, write: if isLead();
      allow create: if signedIn();
      allow read, write: if belongsTo(resource.data.volunteerUid) 
    }

    match /{path=**}/signUps/{signUpId} {
      allow read: if signedIn(); 
    }

    function belongsTo(userId) {
      
      return signedIn() && request.auth.uid == userId;
    }

    function isLead() {
      return signedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'lead';
    }

    function signedIn() {
      return request.auth != null
    }
  }
}